/* Features variables
   ========================================================================== */
/* Typography variables: /assets/stylesheets/base/variables/typography.scss */
/* Titles variables: /assets/stylesheets/base/variables/titles.scss */
$features-h3-font-size: $h3-font-size;
$features-p-font-size: $font-size-base;
$features-button-size-mobile: $font-size-base;
