/* Introduction variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/landing-page/base/variables/colors.scss */
/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
/* Titles variables: /assets/stylesheets/base/variables/titles.scss */
$introduction-marging-top: $xl * 2;
$introduction-strong-color: $eos-gray-darker;

$features-title-color: $eos-dark-orange;

$feature-h3-zindex: $zindex-middle;

/* Mobile version */
// Introduction
$introduction-h3-font-size: $h3-font-size / 1.3;
$introduction-h2-font-size: $h2-font-size / 1.3;
$introduction-h1-font-size: $h1-font-size / 1.3;
