doctype html
html
  head
    title= title
    meta(name='description', content=description)
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=0')
    meta(property='og:title', content='EOS Open Source Design System')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://www.eosdesignsystem.com')
    meta(property='og:image', content='https://res.cloudinary.com/eosdesignsystem/image/upload/v1550833469/EOS/Social/eos-design-system.jpg')
    link(rel='stylesheet', href='/build-landing/css/vendors.min.css')
    link(rel='stylesheet', href='/stylesheets/application-landing.css')
    script(src='/build-landing/js/vendors.min.js')
    script(src='/javascripts/application-landing.min.js')
    //- Scripts not executed on development
    - if ( process.env.NODE_ENV != 'development') {
      script(src='/javascripts/shared/gtm-head.js')
    - }
  body
    include ../landing-page/shared/cookies-banner.pug
    block content
