/* Dashboard writing
   ========================================================================== */
/* Variables: /assets/stylesheets/pages/dashboard-writing/dashboard-writing.variables.scss */
.dashboard-writing {
  .horizontal-line:before {
    border-bottom: 1px dashed $bc-gray-300;
    bottom: 0;
    content: ' ';
    height: 1px;
    left: 25%;
    margin: 0 auto;
    position: absolute;
    top: 115px;
    width: 50%;
  }

  .writing-mosaic {
    margin-bottom: 100px;
    @media screen and (max-width: $sd-max) {
      display: none;
    }
  }
}


.dashboard-writing-steps {
  display: flex;
  margin: 0 0 140px 18px;

  @media screen and (max-width: $sd-max) {
    margin: 0;
  }
}

/* Steep bar design */
.steps-progress-bar li {

  &.brand-voice-icon a span {
    background-color: $bc-red-400;
  }

  &.brand-tone-icon a span {
    background-color: $bc-cerulean-400;
  }

  &.ux-writing-icon a span {
    background-color: $bc-green-400;
  }

  &.selected {

    &.brand-voice-icon a p {
      color: $bc-red-400;
    }

    &.brand-tone-icon a p {
      color: $bc-cerulean-400;
    }

    &.ux-writing-icon a p {
      color: $bc-green-400;
    }
  }
}

/* card-colored in writing page.
  ========================================================================== */
.card-colored {
  @media screen and (max-width: $sd-max) {
    border: 0;
  }

  figure {
    height: $da-w-card-colored-figure-height;
    padding: $da-w-card-colored-figure-padding;
    width: $da-w-card-colored-figure-width;

    @media screen and (max-width: $sd-max) {
      display: flex;
      justify-content: center;
      margin-top: $da-w-card-colored-figure-m-margin-top;
      padding: $da-w-card-colored-figure-m-padding;
      width: $da-w-card-colored-figure-m-width;
    }

    @media screen and (max-width: $da-w-custom-breakpoint) {
      height: auto;
      padding: $da-w-card-colored-figure-m-padding;
      width: 25%;
    }

    img {
      @media screen and (max-width: $sd-max) {
        display: block;
        height: $da-w-card-colored-figure-img-m;
        width: 100%;
      }
    }
  }

  &-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: $da-w-card-colored-content-margin-bottom;
    padding: $da-w-card-colored-content-padding;
    width: $da-w-card-colored-content-width;

    @media screen and (max-width: $sd-max) {
      flex-direction: column;
    }
  }

  header {
    width: $da-w-card-colored-head-width;
  }

  h3 {
    font-weight: 300;
    text-align: center;
  }

  p {
    text-align: center;
  }
}

/* Writing cards borders and backgound */
.brand-voice-card {
  border-color: $da-w-brand-voice-color;

  &:hover {
    footer {
      background-color: $da-w-brand-voice-color;
    }
  }
}

.brand-tone-card {
  border-color: $da-w-brand-tone-color;

  &:hover {
    footer {
      background-color: $da-w-brand-tone-color;
    }
  }
}

.ux-writing-card {
  border-color: $da-w-brand-ux-writing;

  &:hover {
    footer {
      background-color: $da-w-brand-ux-writing;
    }
  }
}
