/* Landing page components: slack-button
   ========================================================================== */
/* Variables file: assets/stylesheets/landing-page/components/slack-button/slack-button.variables.scss */
.slack-button {
  align-items: center;
  background: $slack-button-bg;
  border-radius: 27px 0 0 27px;
  color: $slack-button-text-color;
  display: flex;
  flex-direction: row;
  height: 35px;
  padding-right: $slack-button-padding;
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 10;

  &:hover {
    background: $slack-button-bg-hover;
    color: $slack-button-text-color;
    text-decoration: none;
  }

  .slack-logo {
    margin-left: $slack-button-logo-margin;
    margin-right: $slack-button-logo-margin;
    width: 20px;
  }
}
