/* slack-button variables
   ========================================================================== */
$slack-button-bg: rgba(255, 255, 255, 0.74);
$slack-button-bg-hover: rgba(255, 255, 255, 1);
$slack-button-text-color: black;
$slack-button-padding: $s;
$slack-button-logo-margin: $s;
