extends ../layouts/layout-main
block content
  .container
    section
      h1
        | Design specs
      p
        | List of design specs for our product with the relevant link to XD file and Trello
      .panel.panel-default
        .panel-body
          .row
            .col-sm-6
            .col-sm-6
              h6
                | Search:
              .input-group
                input.js-icons-search.form-control(type='text', placeholder='Type to search')
                .input-group-addon
                  .material-icons.md-18.js-icons-search-close.clickable
                    | close
    section.design-specs
      .icons-list
        .js-icons-search-empty.hidden
          .alert.alert-info.text-center
            | No icon found with the entered search criteria
        .row.js-icons-headers.hidden
          .col-sm-2
            h4
              | Name
          .col-sm-2
            h4
              | Tag
          .col-sm-2
            h4
              | XD specs
          .col-sm-2
            h4
              | XD backup
          .col-sm-1
            h4
              | Trello
          .col-sm-3
            h4
              | Document description
          hr.hr-dotted
        article
          .row
            .col-sm-2
              h4
                | Alerts page
              span
                | Apr 4, 2019
            .col-sm-2
              .label.label-info.js-product-label
                | alerts page
            .col-sm-2
              a(href='https://xd.adobe.com/spec/1ca47e62-5d67-4369-6870-76ec85da32fa-6a95/', target='_blank')
                | XD specs
            .col-sm-2
              a(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/eos-website-design/Pages/alerts/Alert-page.xd', target='_blank')
                | XD backup
            .col-sm-1
              a(href='https://trello.com/c/fguxVL9C/458-alerts-page-design-and-implementation', target='_blank')
                | Trello
            .col-sm-3
              span
                | Specs, Trello link & Gitlab backup for alerts page in EOS design.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              h4
                | SCSS code snippets smaller and copy-to-clipboard function
              span
                | Jan 12, 2019
            .col-sm-2
              .label.label-info.js-product-label
                | snippets smaller
            .col-sm-2
              a(href='https://xd.adobe.com/spec/464c4065-d162-4ca9-4e49-35ecc4bbca80-307d/', target='_blank')
                | XD specs
            .col-sm-2
              a(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/eos-website-design/Components/show-more-less/show-more-less.xd', target='_blank')
                | XD backup
            .col-sm-1
              a(href='https://trello.com/c/wTbl3Tdl/451-scss-code-snippets-smaller-and-with-copy-to-clipboard-function', target='_blank')
                | Trello
            .col-sm-3
              span
                | Specs, Trello link & Gitlab backup for SCSS code snippets smaller and copy-to-clipboard function in EOS design.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              h4
                | Typography page
              span
                | Mar 18, 2019
            .col-sm-2
              .label.label-info.js-product-label
                | typography
            .col-sm-2
              a(href='https://xd.adobe.com/spec/d2abe3af-3faa-4b13-7070-d67c8dc1e04c-a49a/screen/e189414d-157e-4eef-8cbe-7e48c9545cbb/typography/', target='_blank')
                | XD specs
            .col-sm-2
              a(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/eos-website-design/Pages/typography/typography.xd', target='_blank')
                | XD backup
            .col-sm-1
              a(href='https://trello.com/c/vkgfRgDD/400-typography-design-only-xd', target='_blank')
                | Trello
            .col-sm-3
              span
                | Specs, Trello link & Gitlab backup for the typography page in EOS design.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              h4
                | Alerts
              span
                | Mar 8, 2019
            .col-sm-2
              .label.label-info.js-product-label
                | alerts
            .col-sm-2
              a(href='https://xd.adobe.com/spec/05a499c6-f9fc-4f44-5000-03a09973d19d-7395/', target='_blank')
                | XD specs
            .col-sm-2
              a(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/eos-website-design/Components/Alerts/alerts.xd', target='_blank')
                | XD backup
            .col-sm-1
              a(href='https://trello.com/c/DQHjpOyt/449-alerts-design-only-xd', target='_blank')
                | Trello
            .col-sm-3
              span
                | Specs, Trello link & Gitlab backup for the alerts in EOS design.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              h4
                | Buttons page design
              span
                | Jan 8, 2019
            .col-sm-2
              .label.label-info.js-product-label
                | buttons page
            .col-sm-2
              a(href='https://xd.adobe.com/spec/07139b7f-1d48-4b88-4078-fdcbdf8617b8-7122/', target='_blank')
                | XD specs
            .col-sm-2
              a(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/eos-website-design/Pages/Buttons/buttons-page.xd', target='_blank')
                | XD backup
            .col-sm-1
              a(href='https://trello.com/c/jgDfdsSz/228-buttons-present-them', target='_blank')
                | Trello
            .col-sm-3
              span
                | Specs, Trello link & Gitlab backup for the buttons page in EOS design.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              h4
                | Changelog for small screens
              span
                | Dec 18, 2018
            .col-sm-2
              .label.label-info.js-product-label
                | changelog
            .col-sm-2
              a(href='https://xd.adobe.com/spec/939d6433-32ab-4ca5-6b6a-c25eb29964b9-e5ac/', target='_blank')
                | XD specs
            .col-sm-2
              a(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/eos-website-design/Pages/changelog/small_screen_changelog.xd', target='_blank')
                | XD backup
            .col-sm-1
              a(href='https://trello.com/c/9gI2qPGV/373-changelog-on-small-screens-xd', target='_blank')
                | Trello
            .col-sm-3
              span
                | Specs, Trello link & Gitlab backup for the extended icons in EOS design.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              h4
                | Extended icons in EOS
              span
                | Nov 30, 2018
            .col-sm-2
              .label.label-info.js-product-label
                | extended icons
            .col-sm-2
              a(href='https://xd.adobe.com/spec/1f0e2f0b-8456-495e-5efb-198a1a911c9f-693f/', target='_blank')
                | XD specs
            .col-sm-2
              a(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/eos-website-design/Pages/icons/extended-icons/extended-icons_hd.xd', target='_blank')
                | XD backup
            .col-sm-1
              a(href='https://trello.com/c/iv4TQsnM/335-eos-icons-extended-link-in-eos', target='_blank')
                | Trello
            .col-sm-3
              span
                | Specs, Trello link & Gitlab backup for the extended icons in EOS design.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              h4
                | Logo icons repo
              span
                | Nov 21, 2018
            .col-sm-2
              .label.label-info.js-product-label
                | logo icons
            .col-sm-2
              a(href='https://xd.adobe.com/spec/a48fa598-f8b2-4e0e-4da5-a8c7804b6929-d2be/', target='_blank')
                | XD specs
            .col-sm-2
              a(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/eos-website-design/Pages/icons/logo-icons/logo-icons-hd.txt', target='_blank')
                | XD backup
            .col-sm-1
              a(href='https://trello.com/c/VHCuNd8p/323-logo-icons-the-eos-repo-design-only-xd', target='_blank')
                | Trello
            .col-sm-3
              span
                | Specs, Trello link & Gitlab backup for the logo icons repo design.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              h4
                | Scalable menu
              span
                | Nov 13, 2018
            .col-sm-2
              .label.label-info.js-product-label
                | scalable menu
            .col-sm-2
              a(href='https://xd.adobe.com/spec/6bc580f3-9016-4cde-43a4-6e5be11ec51d-1df4/', target='_blank')
                | XD specs
            .col-sm-2
              a(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/eos-website-design/Layout/menu/scalable-menu.xd', target='_blank')
                | XD backup
            .col-sm-1
              a(href='https://trello.com/c/vX2GHohp/290-scalable-and-scrollable-menu-xd', target='_blank')
                | Trello
            .col-sm-3
              span
                | Specs, Trello link & Gitlab backup for the scalable-and-scrollable-menu design.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              h4
                | Changelog
              span
                | Oct 5, 2018
            .col-sm-2
              .label.label-info.js-product-label
                | changelog
            .col-sm-2
              a(href='https://xd.adobe.com/spec/85b32275-4ab8-4564-4e43-86dba5a02434-f382/', target='_blank')
                | XD specs
            .col-sm-2
              a(href='https://gitlab.com/SUSE-UIUX/eos-backup/tree/master/eos-website-design/Pages/changelog', target='_blank')
                | XD backup
            .col-sm-1
              a(href='https://trello.com/c/27tRGYPE/246-change-log-design-only-xd', target='_blank')
                | Trello
            .col-sm-3
              span
                | Specs, Trello link & Gitlab backup for the changelog design.
          hr.hr-dotted
        article
          .row
            .col-sm-2
              h4
                | Buttons
              span
                | Sep 6, 2018
            .col-sm-2
              .label.label-info.js-product-label
                | buttons
            .col-sm-2
              a(href='https://xd.adobe.com/spec/ab5c98c9-d60b-4a9c-7a55-2f90656f1da1-dd6d/', target='_blank')
                | XD specs
            .col-sm-2
              a(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/eos-website-design/Components/Button/buttons.xd', target='_blank')
                | XD backup
            .col-sm-1
              a(href='https://trello.com/c/LMqp8Unu/243-buttons-design-only-xd', target='_blank')
                | Trello
            .col-sm-3
              span
                | Specs and trello card for the buttons
          hr.hr-dotted
        article
          .row
            .col-sm-2
              h4
                | Collapsible menu
              span
                | Jul 27, 2018
            .col-sm-2
              .label.label-info.js-product-label
                | menu
            .col-sm-2
              a(href='https://xd.adobe.com/spec/737176ec-d35b-45c3-7bc7-bc4323fd5054-0540/', target='_blank')
                | XD specs
            .col-sm-2
              a(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/eos-website-design/Layout/menu/main-menu.xd', target='_blank')
                | XD backup
            .col-sm-1
              a(href='https://trello.com/c/zr9qw6kM/157-make-the-main-menu-collapsible-design-only-xd', target='_blank')
                | Trello
            .col-sm-3
              span
                | Specs and trello card for collapsible menu
          hr.hr-dotted

        article
          .row
            .col-sm-2
              h4
                | Footer
              span
                | Aug 8, 2018
            .col-sm-2
              .label.label-info.js-product-label
                | footer
            .col-sm-2
              a(href='https://xd.adobe.com/spec/1759cb58-aced-46ff-7753-fdb8242ff0ce-6168/', target='_blank')
                | XD specs
            .col-sm-2
              a(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/eos-website-design/Layout/footer/mockup_footer.xd', target='_blank')
                | XD backup
            .col-sm-1
              a(href='https://trello.com/c/2jiF7Mbu/155-footer', target='_blank')
                | Trello
            .col-sm-3
              span
                | Specs and trello card for the footer
          hr.hr-dotted
        article
          .row
            .col-sm-2
              h4
                | Submenu
              span
                | Apr 10, 2018
            .col-sm-2
              .label.label-info.js-product-label
                | submenu
            .col-sm-2
              a(href='https://xd.adobe.com/spec/6eb5bddb-ec00-42e5-5e2f-8b0b6f0fe89d-1884/', target='_blank')
                | XD specs
            .col-sm-2
              a(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/eos-website-design/Layout/horizontal-submenu/EOS-Prototype-Submenu.xd', target='_blank')
                | XD backup
            .col-sm-1
              a(href='https://trello.com/c/c8praNh3/66-2-design-the-suse-submenu-high-fi-prototype', target='_blank')
                | Trello
            .col-sm-3
              span
                | Specs and trello card for the submenu
          hr.hr-dotted

        article
          .row
            .col-sm-2
              h4
                | Feedback
              span
                | Oct 26, 2018
            .col-sm-2
              .label.label-info.js-product-label
                | menu
            .col-sm-2
              a(href='https://xd.adobe.com/spec/673e7ac7-675b-412f-7dea-bae060face75-110f/', target='_blank')
                | XD specs
            .col-sm-2
              a(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/eos-website-design/Components/Feedback/feedback.xd', target='_blank')
                | XD backup
            .col-sm-1
              a(href='https://trello.com/c/QaiSy0jD/289-feedback-tool-design-only', target='_blank')
                | Trello
            .col-sm-3
              span
                | Specs and trello card for collapsible menu
          hr.hr-dotted
        article
          .row
            .col-sm-2
              h4
                | Dashboard illustrations
              span
                | Nov 28, 2018
            .col-sm-1
              .label.label-info.js-product-label
                | menu
            .col-sm-2
              a(href='https://xd.adobe.com/spec/2a83f43b-b105-4d4f-501d-70a9435071e5-5cb2/', target='_blank')
                | XD specs
            .col-sm-2
              a(href='https://gitlab.com/SUSE-UIUX/eos-backup/tree/master/eos-website-design/Pages/dashboard/New%20dashboard%20illustrations%20', target='_blank')
                | XD backup
            .col-sm-2
              a(href='https://trello.com/c/ins8oQqL/308-redesign-dashboard-news-images', target='_blank')
                | Trello
            .col-sm-3
              p
                | Specs and trello card for new Dashboard illustrations
          hr.hr-dotted
        article
          .row
            .col-sm-2
              h4
                | Colors (link box)
              span
                | March 4, 2019
            .col-sm-1
              .label.label-info.js-product-label
                | colors
            .col-sm-2
              a(href='https://xd.adobe.com/spec/5961a45d-835f-4e9c-4baf-a42d1a38c539-2f50/', target='_blank')
                | XD specs
            .col-sm-2
              a(href='https://gitlab.com/SUSE-UIUX/eos-backup/blob/master/eos-website-design/Pages/colors/color_palette_download.xd', target='_blank')
                | XD backup
            .col-sm-2
              a(href='https://trello.com/c/5ED52xeS/456-color-palettes', target='_blank')
                | Trello
            .col-sm-3
              p
                | Specs and trello card for color palettes download
          hr.hr-dotted
