extends ../layouts/layout-main
block content
  .container
    section
      h1
        | Icons report page
      .panel.panel-default
        .panel-body
          .row
            .col-sm-6
              h6
                | Filter by product:
              .btn-group
                .btn.btn-info.btn-sm.clickable.js-filter-product-icons
                  | CaaSP
                  .badge.js-count-product-icons
                    | 1
                .btn.btn-warning.btn-sm.clickable.js-filter-product-icons
                  | Hawk
                  .badge.js-count-product-icons
                    | 1
                .btn.btn-success.btn-sm.clickable.js-filter-product-icons
                  | SCC
                  .badge.js-count-product-icons
                    | 1
                .btn.btn-danger.btn-sm.clickable.js-filter-product-icons
                  | SES
                  .badge.js-count-product-icons
                    | 1
                .btn.btn-default.btn-sm.clickable.js-filter-product-icons
                  | Suma
                  .badge.js-count-product-icons
                    | 1
                .btn.btn-info.btn-sm.clickable.js-filter-product-icons
                  | Stratos
                  .badge.js-count-product-icons
                    | 1
              .btn.btn-link.clickable.js-filter-product-icons
                | All
                .badge.js-count-icons
                  | 1
            .col-sm-3
              h6
                | Filter by report status:
              .btn-group
                .btn.btn-info.btn-sm.clickable.js-filter-reported-icons
                  | Reported
                .btn.btn-warning.btn-sm.clickable.js-filter-reported-icons
                  | Unreported
              .btn.btn-link.clickable.js-filter-product-icons
                | All
                .badge.js-count-icons
                  | 1
            .col-sm-3
              h6
                | Search:
              .input-group
                input.js-icons-search.form-control(type='text', placeholder='Type to search')
                .input-group-addon
                  .material-icons.md-18.js-icons-search-close.clickable
                    | close
    section.text-center
      button.btn.btn-primary.js-generate-pdf
        | Generate a PDF report
    section.report-full-width
      .js-wrap-to-print.container.icons-list
        .js-icons-search-empty.hidden
          .alert.alert-info.text-center
            | No icon found with the entered search criteria
        .row.js-icons-headers.hidden
          .col-sm-3
            h4
              | Icon
          .col-sm-3
            h4
              | Replace with
          .col-sm-3
            h4
              | Product
          .col-sm-3
            h4
              | More info
          hr.hr-dotted
        //CaaSP
        article
          .row
            .col-sm-3
              i.fa.fa-refresh.md-48
              span.label.label-default.js-fa-class
            .col-sm-3
              i.eos-icons.md-48.eos-icon-installing
              h6
                | EOS icon animated
              | class: eos-icon-installing
            .col-sm-3
              .label.label-info.js-filter-label
                | CaaSP
              .label.label-info.js-filter-reported-label
                | Reported
            .col-sm-3
              strong
                | Where is it found
              p
                | In the dashboard page. This icon is visible in the table of nodes when a node is being "bootstraped"
          hr.hr-dotted
        //Hawk
        article
          .row
            .col-sm-3
              .material-icons.md-48
                | tune
              h6
                | Material Design ligature:
              | tune
            .col-sm-3
              i.eos-icons.md-48
                | troubleshooting
              h6
                | EOS ligature:
              | troubleshooting
            .col-sm-3
              .label.label-warning.js-filter-label
                | Hawk
              .label.label-info.js-filter-reported-label
                | Reported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | Sidebar - Main menu. In link to "Troubleshooting"
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.fa.fa-superscript.md-48
              span.label.label-default.js-fa-class
            .col-sm-3
              i.eos-icons.md-48
                | multistate
              h6
                | EOS ligature:
              | multistate
            .col-sm-3
              .label.label-warning.js-filter-label
                | Hawk
              .label.label-info.js-filter-reported-label
                | Reported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | In dashboard table. 
          hr.hr-dotted
        article
          .row
            .col-sm-3
              .material-icons.md-48
                | extension
              h6
                | Material Design ligature:
              | extension
            .col-sm-3
              i.material-icons.md-48
                | settings
              h6
                | Material Design ligature:
              | settings
            .col-sm-3
              .label.label-warning.js-filter-label
                | Hawk
              .label.label-info.js-filter-reported-label
                | Reported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | Resource status page under setting menu. In link to "Attribute" in setting dropdown menu
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.fa.fa-code.md-48
              span.label.label-default.js-fa-class
            .col-sm-3
              i.material-icons.md-48
                | power
              h6
                | Material Icon ligature:
              | power
            .col-sm-3
              .label.label-warning.js-filter-label
                | Hawk
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | Configuration page. In link to "Resource"
          hr.hr-dotted

        article
          .row
            .col-sm-3
              i.fa.fa-eye.md-48
              span.label.label-default.js-fa-class
            .col-sm-3
              i.eos-icons.md-48
                | constraint
              h6
                | EOS ligature:
              | constraint
            .col-sm-3
              .label.label-warning.js-filter-label
                | Hawk
              .label.label-info.js-filter-reported-label
                | Reported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | Configuration page. In link to "Constraint"
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.fa.fa-file.md-48
              span.label.label-default.js-fa-class
            .col-sm-3
              i.eos-icons.md-48
                | primitive
              h6
                | EOS ligature:
              | primitive
            .col-sm-3
              .label.label-warning.js-filter-label
                | Hawk
              .label.label-info.js-filter-reported-label
                | Reported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | Add Resource page. In link to "Primitive"
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.fa.fa-globe.md-48
              span.label.label-default.js-fa-class
            .col-sm-3
              i.eos-icons.md-48
                | network_file_system
              h6
                | EOS ligature:
              | network_file_system
            .col-sm-3
              .label.label-warning.js-filter-label
                | Hawk
              .label.label-info.js-filter-reported-label
                | Reported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | In wizards page. In link to "Network File System"
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.fa.fa-magic.md-48
              span.label.label-default.js-fa-class
            .col-sm-3
              h6
                | SAP icon removed
            .col-sm-3
              .label.label-warning.js-filter-label
                | Hawk
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              strong
                | This icon has been removed from eos-icon
              p
                | Please use an svg instead. EOS will provide partners svgs soon enough.
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.fa.fa-hdd-o.md-48
              span.label.label-default.js-fa-class
            .col-sm-3
              i.eos-icons.md-48
                | file_system
              h6
                | EOS ligature:
              | file_system
            .col-sm-3
              .label.label-warning.js-filter-label
                | Hawk
              .label.label-info.js-filter-reported-label
                | Reported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | In wizards page. In link to "File System".
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.fa.fa-tasks.md-48
              span.label.label-default.js-fa-class
            .col-sm-3
              i.eos-icons.md-48
                | collocation
              h6
                | EOS ligature:
              | collocation
            .col-sm-3
              .label.label-warning.js-filter-label
                | Hawk
              .label.label-info.js-filter-reported-label
                | Reported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | Add Constraint page. In link to "Colocation".
          hr.hr-dotted
        //SCC
        article
          .row
            .col-sm-3
              .material-icons.md-48
                | dns
              h6
                | Material Design ligature:
              | dns
            .col-sm-3
              i.eos-icons.md-48
                | repositories
              h6
                | EOS ligature:
              | repositories
            .col-sm-3
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-reported-label
                | Reported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | I admin page. In link to "repository" in the submenu (top bar).
          hr.hr-dotted
        article
          .row
            .col-sm-3
              .material-icons.md-48
                | featured_play_list
              h6
                | Material Design ligature:
              | featured_play_list
            .col-sm-3
              i.eos-icons.md-48
                | products_classes
              h6
                | EOS ligature:
              | products_classes
            .col-sm-3
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-reported-label
                | Reported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | I admin page. In link to "product classes" in the submenu (top bar).
          hr.hr-dotted
        article
          .row
            .col-sm-3
              .material-icons.md-48
                | folder_special
              h6
                | Material Design ligature:
              | folder_special
            .col-sm-3
              i.eos-icons.md-48
                | product_subscriptions
              h6
                | EOS ligature:
              | product_subscriptions
            .col-sm-3
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-reported-label
                | Reported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | I admin page and in the organization page. Either as a link to subscriptions or listing them.
          hr.hr-dotted
        article
          .row
            .col-sm-3
              .material-icons.md-48
                | business
              h6
                | Material Design ligature:
              | business
            .col-sm-3
              i.eos-icons.md-48
                | organization
              h6
                | EOS ligature:
              | organization
            .col-sm-3
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-reported-label
                | Reported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | I admin page and in the organization page. Either as a link to organizations or listing them.
          hr.hr-dotted
        article
          .row
            .col-sm-3
              .material-icons.md-48
                | style
              h6
                | Material Design ligature:
              | style
            .col-sm-3
              i.eos-icons.md-48
                | products
              h6
                | EOS ligature:
              | products
            .col-sm-3
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-reported-label
                | Reported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | Main menu under Internal Tools. Link to "Products".
          hr.hr-dotted
        article
          .row
            .col-sm-3
              .material-icons.md-48
                | assignment
              h6
                | Material Design ligature:
              | assignment
            .col-sm-3
              i.eos-icons.md-48
                | packages
              h6
                | EOS ligature:
              | packages
            .col-sm-3
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-reported-label
                | Reported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | Main menu under My Tools. Link to "Packages".
          hr.hr-dotted
        article
          .row
            .col-sm-3
              .material-icons.md-48
                | verified_user
              h6
                | Material Design ligature:
              | verified_user
            .col-sm-3
              i.material-icons.md-48
                | check_circle
              h6
                | Material Design ligature:
              | check_circle
            .col-sm-3
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-reported-label
                | Reported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | Dashboard. In the list of recent activities present in items marked as "subscription added" and as "XX products activated on your systems"
          hr.hr-dotted
        article
          .row
            .col-sm-3
              .material-icons.md-48
                | verified_user
              h6
                | Material Design ligature:
              | verified_user
            .col-sm-3
              i.eos-icons.md-48
                | activate_subscriptions
              h6
                | EOS ligature:
              | activate_subscriptions
            .col-sm-3
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-reported-label
                | Reported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | Main menu, under My Tools. In link to "Activate subscriptions".
          hr.hr-dotted
        article
          .row
            .col-sm-3
              .material-icons.md-48
                | supervisor_account
              h6
                | Material Design ligature:
              | supervisor_account
            .col-sm-3
              i.eos-icons.md-48
                | admin
              h6
                | EOS ligature:
              | admin
            .col-sm-3
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-reported-label
                | Reported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | In the Customer Management page as well as in the user Organization page. Used to represent Admins.
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-bare-metal.md-48
              h6
                | Spacewalk class:
              | spacewalk-icon-bare-metal
            .col-sm-3
              i.eos-icons.md-48
                | smt
              h6
                | EOS ligature:
              | smt
            .col-sm-3
              .label.label-success.js-filter-label
                | SCC
              .label.label-info.js-filter-reported-label
                | Reported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | In the systems page, under the SMT tab. Used to represent SMT/RMT servers.
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.fa.fa-hourglass.md-48
              span.label.label-default.js-fa-class
            .col-sm-3
              i.eos-icons.md-48
                | background_tasks
              h6
                | EOS ligature:
              | background_tasks
            .col-sm-3
              .label.label-danger.js-filter-label
                | SES
              .label.label-info.js-filter-reported-label
                | Reported
            .col-sm-2
              strong
                | Where is it originally found
              p
                | Button next to the text "Background-Tasks" present in header.
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.fa.fa-play.md-48
              span.label.label-default.js-fa-class
            .col-sm-3
              i.material-icons.md-48
                | fiber_manual_record
              h6
                | Material Design ligature:
              | fiber_manual_record
            .col-sm-3
              .label.label-danger.js-filter-label
                | SES
              .label.label-info.js-filter-reported-label
                | Reported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | Button next to the text "API-Recorder" present in header.
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.fa.fa-user-secret.md-48
              span.label.label-default.js-fa-class
            .col-sm-3
              i.material-icons.md-48
                | vpn_key
              h6
                | Material Design ligature:
              | vpn_key
            .col-sm-3
              .label.label-danger.js-filter-label
                | SES
              .label.label-info.js-filter-reported-label
                | Reported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | Form in a page openattic/#/users/edit
          hr.hr-dotted
        article
          .row
            .col-sm-3
              .material-icons.md-48
                | verified_user
              h6
                | Material Design ligature:
              | verified_user
            .col-sm-3
              i.eos-icons.md-48
                | subscriptions_created
              h6
                | EOS ligature:
              | subscriptions_created
            .col-sm-3
              .label.label-success.js-filter-label
                | SCC
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | When a subscription is successfully activated, it will show up in the organization log so the users can track all the activities performed by him/her or other members.
          hr.hr-dotted
        article
          .row
            .col-sm-3
              .material-icons.md-48
                | playlist_add_check
              h6
                | Material Design ligature:
              | playlist_add_check
            .col-sm-3
              i.eos-icons.md-48
                | cleanup
              h6
                | EOS ligature:
              | cleanup
            .col-sm-3
              .label.label-success.js-filter-label
                | SCC
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | It's a background job that runs periodically, deleting subscriptions of type "evaluation" that are expired AND have no systems.
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.fa.fa-rocket.md-48
              span.label.label-default.js-fa-class
            .col-sm-3
              i.eos-icons.md-48
                | autoinstallation
              h6
                | EOS ligature:
              | autoinstallation
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | This icon is used in /rhn/kickstart/KickstartOverview.do page. The page belongs to the Autoinstallation feature.
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.fa.fa-rocket.md-48
              span.label.label-default.js-fa-class
            .col-sm-3
              i.eos-icons.md-48
                | bootstrapping
              h6
                | EOS ligature:
              | bootstrapping
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | This icon is used in /rhn/manager/systems/bootstrap, which is the Bootstraping page.
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.fa.fa-suitcase.md-48
              span.label.label-default.js-fa-class
            .col-sm-3
              i.eos-icons.md-48
                | miscellaneous
              h6
                | EOS ligature:
              | miscellaneous
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | Represent the section "misc" in the System Set Manager Overview page.
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.fa.fa-list.md-48
              span.label.label-default.js-fa-class
            .col-sm-3
              i.eos-icons.md-48
                | image
              h6
                | EOS ligature:
              | image
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | Displayed on the page title of the pages : Images, Image Profile and Image Stores.
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.fa.fa-chain.md-48
              span.label.label-default.js-fa-class
            .col-sm-3
              i.eos-icons.md-48
                | action_chains
              h6
                | EOS ligature:
              | action_chains
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | In page Action Chains page.
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-software-channels.md-48
              h6
                | Spacewalk class:
              | spacewalk-icon-software-channels
            .col-sm-3
              i.eos-icons.md-48
                | software
              h6
                | EOS ligature:
              | software
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              strong
                | Where is it originally found
              p
                | Next to text "Software" in the sidebar and next to the related page title indicates the kind of session.
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-snapshot-rollback.md-48
              span.label.label-default
                | spacewalk-icon-snapshot-rollback
            .col-sm-3
              i.eos-icons.md-48
                | snapshot_rollback
              h6
                | EOS ligature:
              | snapshot_rollback
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-note-pin.md-48
              span.label.label-default
                | spacewalk-icon-note-pin
            .col-sm-3
              i.eos-icons.md-48
                | pin
              h6
                | EOS ligature:
              | pin
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-bug-ex.md-48
              span.label.label-default
                | spacewalk-icon-bug-ex
            .col-sm-3
              i.eos-icons.md-48
                | critical_bug
              h6
                | EOS ligature:
              | critical_bug
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-sandbox.md-48
              span.label.label-default
                | spacewalk-icon-sandbox
            .col-sm-3
              i.eos-icons.md-48
                | sandbox
              h6
                | EOS ligature:
              | sandbox
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-proxy.md-48
              span.label.label-default
                | spacewalk-icon-proxy
            .col-sm-3
              i.eos-icons.md-48
                | proxy
              h6
                | EOS ligature:
              | proxy
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-package-upgrade.md-48
              span.label.label-default
                | spacewalk-icon-package-upgrade
            .col-sm-3
              i.eos-icons.md-48
                | package_upgrade
              h6
                | EOS ligature:
              | package_upgrade
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-listicon-cfg-symlink.md-48
              span.label.label-default
                | spacewalk-icon-listicon-cfg-symlink
            .col-sm-3
              i.eos-icons.md-48
                | symlink
              h6
                | EOS ligature:
              | symlink
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-manage-configuration-files.md-48
              span.label.label-default
                | spacewalk-icon-manage-configuration-files
            .col-sm-3
              i.eos-icons.md-48
                | configuration_file
              h6
                | EOS ligature:
              | configuration_file
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-virtual-guest.md-48
              span.label.label-default
                | spacewalk-icon-virtual-guest
            .col-sm-3
              i.eos-icons.md-48
                | virtual_guest
              h6
                | EOS ligature:
              | virtual_guest
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-desktop-filled-non-checking-in.md-48
              span.label.label-default
                | spacewalk-icon-desktop-filled-non-checking-in
            .col-sm-3
              i.eos-icons.md-48
                | timeout
              h6
                | EOS ligature:
              | timeout
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-desktop-filled-unpatched.md-48
              span.label.label-default
                | spacewalk-icon-desktop-filled-unpatched

            .col-sm-3
              i.eos-icons.md-48
                | unpatched
              h6
                | EOS ligature:
              | unpatched
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-download-csv.md-48
              span.label.label-default
                | spacewalk-icon-download-csv

            .col-sm-3
              i.eos-icons.md-48
                | csv_file
              h6
                | EOS ligature:
              | csv_file
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-system-groups.md-48
              span.label.label-default
                | spacewalk-icon-system-groups

            .col-sm-3
              i.eos-icons.md-48
                | system_group
              h6
                | EOS ligature:
              | system_group
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-enhancement.md-48
              span.label.label-default
                | spacewalk-icon-enhancement

            .col-sm-3
              i.eos-icons.md-48
                | enhancement
              h6
                | EOS ligature:
              | enhancement
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-organization-trust.md-48
              span.label.label-default
                | spacewalk-icon-organization-trust

            .col-sm-3
              i.eos-icons.md-48
                | trusted_organization
              h6
                | EOS ligature:
              | trusted_organization
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-packages.md-48
              span.label.label-default
                | spacewalk-icon-packages

            .col-sm-3
              i.eos-icons.md-48
                | packages
              h6
                | EOS ligature:
              | packages
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-virtual-host.md-48
              span.label.label-default
                | spacewalk-icon-virtual-host
            .col-sm-3
              i.material-icons.md-48
                | cloud_circle
              h6
                | Material Design ligature:
              | cloud_circle
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-bare-metal.md-48
              span.label.label-default
                | spacewalk-icon-bare-metal
            .col-sm-3
              i.material-icons.md-48
                | storage
              h6
                | Material Design ligature:
              | storage
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-salt.md-48
              span.label.label-default
                | spacewalk-icon-salt
            .col-sm-3
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-info
                | WIP
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-envelope-open-o.md-48
              span.label.label-default
                | spacewalk-icon-envelope-open-o
            .col-sm-3
              i.material-icons.md-48
                | mail
              h6
                | Material Design ligature:
              | mail
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-suse-manager.md-48
              span.label.label-default
                | spacewalk-icon-suse-manager
            .col-sm-3
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-info
                | WIP
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-virtual-host-manager.md-48
              span.label.label-default
                | spacewalk-icon-virtual-host-manager

            .col-sm-3
              i.eos-icons.md-48
                | virtual_host_manager
              h6
                | EOS ligature:
              | virtual_host_manager
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-subscription-counting.md-48
              span.label.label-default
                | spacewalk-icon-subscription-counting
            .col-sm-3
              i.eos-icons.md-48
                | counting
              h6
                | EOS ligature:
              | counting
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-package-delete.md-48
              span.label.label-default
                | spacewalk-icon-package-delete
            .col-sm-3
              i.material-icons.md-48
                | delete
              h6
                | Material Design ligature:
              | delete
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-config-system.md-48
              span.label.label-default
                | spacewalk-icon-config-system
            .col-sm-3
              i.material-icons.md-48
                | settings
              h6
                | Material Design ligature:
              | settings
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-schedule.md-48
              span.label.label-default
                | spacewalk-icon-schedule
            .col-sm-3
              i.material-icons.md-48
                | calendar_today
              h6
                | Material Design ligature:
              | calendar_today
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-package-extra.md-48
              span.label.label-default
                | spacewalk-icon-package-extra
            .col-sm-3
              i.material-icons.md-48
                | layers
              h6
                | Material Design ligature:
              | layers
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-patches.md-48
              span.label.label-default
                | spacewalk-icon-patches
            .col-sm-3
              i.material-icons.md-48
                | healing
              h6
                | Material Design ligature:
              | healing
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-software-channel-management.md-48
              span.label.label-default
                | spacewalk-icon-software-channel-management
            .col-sm-3
              i.material-icons.md-48
                | settings_input_component
              h6
                | Material Design ligature:
              | settings_input_component
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-configure-suse-manager.md-48
              span.label.label-default
                | spacewalk-icon-configure-suse-manager
            .col-sm-3
              h6
                | Material Design ligature:
              | 
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-info
                | WIP
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-software-channels.md-48
              span.label.label-default
                | spacewalk-icon-software-channels
            .col-sm-3
              i.material-icons.md-48
                | settings_input_component
              h6
                | Material Design ligature:
              | settings_input_component
            .col-sm-3
              .label.label-default.js-filter-label
                | Suma
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
          hr.hr-dotted
        article
          .row
            .col-sm-3
              img.material-icons.md-48(src='/images/special-icons/stratos/service.svg')
              h6
                | File name:
              | service.svg
            .col-sm-3
              i.eos-icons.md-48
                | service
              h6
                | EOS ligature:
              | service
            .col-sm-3
              .label.label-info.js-filter-label
                | Stratos
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              p
                | Indicates service
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.material-icons.md-48
                | library_books
              h6
                | Material Design ligature::
              | library_books
            .col-sm-3
              i.eos-icons.md-48
                | service_instance
              h6
                | EOS ligature:
              | service_instance
            .col-sm-3
              .label.label-info.js-filter-label
                | Stratos
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              p
                | Service Instances - Indicates an instance of a service
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.eos-icons.md-48
                | products
              h6
                | EOS ligature:
              | products
            .col-sm-3
              i.eos-icons.md-48
                | service_plan
              h6
                | EOS ligature:
              | service_plan
            .col-sm-3
              .label.label-info.js-filter-label
                | Stratos
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              p
                | Service Plan - A Service can offers one or more plans
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.material-icons.md-48
                | settings_ethernet
              h6
                | Material Design ligature:
              | settings_ethernet
            .col-sm-3
              i.eos-icons.md-48
                | endpoints
              h6
                | EOS ligature:
              | endpoints
            .col-sm-3
              .label.label-info.js-filter-label
                | Stratos
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              p
                | Endpoint/Endpoints - a service such as Cloud Foundry, GitHub, Metrics that can be connected to Stratos
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.material-icons.md-48
                | cloud_off
              h6
                | Material Design ligature:
              | cloud_off
            .col-sm-3
              i.eos-icons.md-48
                | endpoints_disconnected
              h6
                | EOS ligature:
              | endpoints_disconnected
            .col-sm-3
              .label.label-info.js-filter-label
                | Stratos
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              p
                | Disconnected endpoint - used in the endpoints table to show that an endpoint is not connected
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.material-icons.md-48
                | cloud_on
              h6
                | Material Design ligature:
              | cloud_on
            .col-sm-3
              i.eos-icons.md-48
                | endpoints_connected
              h6
                | EOS ligature:
              | endpoints_connected
            .col-sm-3
              .label.label-info.js-filter-label
                | Stratos
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              p
                | Connected endpoint - used in the endpoints table to show that an endpoint is connected
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.material-icons.md-48
                | delete
              h6
                | Material Design ligature:
              | delete
            .col-sm-3
              i.material-icons.md-48
                | edit
              h6
                | Material Design ligature:
              | edit
            .col-sm-3
              .label.label-info.js-filter-label
                | Stratos
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              p
                | Delete - used in app page header and table headers for edit action - e.g. edit application, service, route etc
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.material-icons.md-48
                | content_copy
              h6
                | Material Design ligature:
              | content_copy
            .col-sm-3
              i.eos-icons.md-48
                | application
              i.eos-icons.md-48
                | application_instance
              h6
                | EOS ligature:
              | application or application_instance
            .col-sm-3
              .label.label-info.js-filter-label
                | Stratos
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              p
                | Application - indicates application
              p
                | Application Instances - an application can have many instances in order to scale it
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.material-icons.md-48
                | access_time
              h6
                | Material Design ligature:
              | access_time
            .col-sm-3
              i.eos-icons.md-48
                | modified_date
              h6
                | EOS ligature:
              | modified_date
            .col-sm-3
              .label.label-info.js-filter-label
                | Stratos
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              p
                | Modified date for an application
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.material-icons.md-48
                | touch_app
              h6
                | Material Design ligature:
              | touch_app
            .col-sm-3
              i.eos-icons.md-48
                | state
              h6
                | EOS ligature:
              | state
            .col-sm-3
              .label.label-info.js-filter-label
                | Stratos
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              p
                | Application state (stopped, started etc)
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.material-icons.md-48
                | card_travel
              h6
                | Material Design ligature:
              | card_travel
            .col-sm-3
              i.eos-icons.md-48
                | state
              h6
                | EOS ligature:
              | state
            .col-sm-3
              .label.label-info.js-filter-label
                | Stratos
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              p
                | Application package state (staged etc) - indicates if an application package has been deployed
          hr.hr-dotted
        article
          .row
            .col-sm-3
              img.material-icons.md-48(src='/images/special-icons/stratos/network_route.svg')
              h6
                | File name:
              | network_route.svg
            .col-sm-3
              i.eos-icons.md-48
                | route
              h6
                | EOS ligature:
              | route
            .col-sm-3
              .label.label-info.js-filter-label
                | Stratos
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              p
                | Application routes
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.material-icons.md-48
                | language
              h6
                | Material Design ligature:
              | language
            .col-sm-3
              i.eos-icons.md-48
                | cloud_foundry_space
              h6
                | EOS ligature:
              | cloud_foundry_space
            .col-sm-3
              .label.label-info.js-filter-label
                | Stratos
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              p
                | Cloud Foundry Space
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.material-icons.md-48
                | code
              h6
                | Material Design ligature:
              | code
            .col-sm-3
              i.eos-icons.md-48
                | file_system
              h6
                | EOS ligature:
              | file_system
            .col-sm-3
              .label.label-info.js-filter-label
                | Stratos
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              p
                | Cloud Foundry Stack (prebuilt root file system)
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.material-icons.md-48
                | code
              h6
                | Material Design ligature:
              | code
            .col-sm-3
              i.eos-icons.md-48
                | repositories
              h6
                | EOS ligature:
              | repositories
            .col-sm-3
              .label.label-info.js-filter-label
                | Stratos
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              p
                | Git URL - Used to indicate a URL to a public git repository
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.material-icons.md-48
                | highlight_off
              h6
                | Material Design ligature:
              | highlight_off
            .col-sm-3
              i.material-icons.md-48
                | block
              h6
                | Material Design ligature:
              | block
            .col-sm-3
              .label.label-info.js-filter-label
                | Stratos
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              p
                | Disabled - indicates an entity that is disabled - e.g. a feature flag, buildpack etc
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.material-icons.md-48
                | lens
              h6
                | Material Design ligature:
              | lens
            .col-sm-3
              i.material-icons.md-48
                | check_circle
              h6
                | Material Design ligature:
              | check_circle
            .col-sm-3
              .label.label-info.js-filter-label
                | Stratos
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              p
                | Application State - Indicates application state is ok
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.material-icons.md-48
                | cancel
              h6
                | Material Design ligature:
              | cancel
            .col-sm-3
              i.material-icons.md-48
                | error
              h6
                | Material Design ligature:
              | error
            .col-sm-3
              .label.label-info.js-filter-label
                | Stratos
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              p
                | Application State - Indicates application state has an erorr
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.material-icons.md-48
                | broken_image
              h6
                | Material Design ligature:
              | broken_image
            .col-sm-3
              i.eos-icons.md-48
                | application_incomplete
              h6
                | EOS ligature:
              | application_incomplete
            .col-sm-3
              .label.label-info.js-filter-label
                | Stratos
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              p
                | Application State - Indicates application state is incomplete
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-autoinstalling.md-48
              span.label.label-default
                | spacewalk-icon-autoinstalling
            .col-sm-3
              i.material-icons.md-48
                | get_app
              h6
                | Material Design ligature:
              | get_app
            .col-sm-3
              .label.label-success.js-filter-label
                | SCC
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              p
                | It's used to download .iso files an organization is subscribed to.
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-patches.md-48
              span.label.label-default
                | spacewalk-icon-patches
            .col-sm-3
              i.eos-icons.md-48
                | ptf
              h6
                | EOS ligature:
              | ptf
            .col-sm-3
              .label.label-success.js-filter-label
                | SCC
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              p
                | It's used to describe PTFs (Program Temporary Fixes).
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-software-channels.md-48
              span.label.label-default
                | spacewalk-icon-software-channels
            .col-sm-3
              i.material-icons.md-48
                | tune
              h6
                | Material Design ligature:
              | tune
            .col-sm-3
              .label.label-success.js-filter-label
                | SCC
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              p
                | It's used in the terms page to explain the mixing of subscription offering.
          hr.hr-dotted
        article
          .row
            .col-sm-3
              i.spacewalk-icon-monitoring-status.md-48
              span.label.label-default
                | spacewalk-icon-monitoring-status
            .col-sm-3
              i.eos-icons.md-48
                | system_re_registered
              h6
                | EOS ligature:
              | system_re_registered
            .col-sm-3
              .label.label-success.js-filter-label
                | SCC
              .label.label-warning.js-filter-reported-label
                | Unreported
            .col-sm-3
              p
                | It's used to describe systems that have been re-registered.
          hr.hr-dotted
