/* Main menu variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$main-menu-border: 1px solid $bc-gray-100;
$main-menu-bg: $bc-blue-500;
$main-menu-link-color: $bc-white;
$main-menu-title-color: $bc-white;
$main-menu-hr-color: $bc-blue-400;

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$main-menu-zindex: $zindex-navbar;
$main-menu-height: 48px;
$main-menu-spacing: $m;
$main-menu-spacing-burger: $l - 3;
$main-menu-li-no-link-margin: 0 $m 0 0;
$main-menu-li-no-link-padding: $s 0 $s $l - 3;
$main-menu-li-h6-padding: $m;
$main-menu-i-size: $m + 2;
$main-menu-i-font-size: $m + 2;
/* Collapsed menu variables */
$mm-collapsed-width: $xxxl - 4;
$mm-collapsed-max-width: $xxxl - 4;
$mm-collapsed-max-height: 53px;
$mm-collapsed-content-margin: $xxxl - 4;
