/* Label variables
   ========================================================================== */
/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
/* Variables: /assets/stylesheets/base/variables/typography.scss */
$label-margin-top: $m;
$label-default-margin: $xs $s 0 0;
$label-default-font-size: $font-size-base;
