extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Icon UX

      h4
        | Icons serve as an effective visual aid and are also useful to save space on the screen. Done correctly,
        | icons can help guide users intuitively through a workflow without relying on too much copy.
    hr      
    article
      p
        | Eye tracking research has shown that users scan from the left in a vertical movement. In order for icons to serve as a visual scanning aid,
        | users need to see them before they see the button label. Placing them to the left of a label allows users to see the icon first. 
        | If you place icons to the right of your label, users read the label first and therefore the icon serves no purpose other than decoration. 

      p
        | For clearer usability, always use labels with abstract or unfamiliar icons.
      hr.transparent
      h3.title-strong
        | Best practices
      .row
        .col-md-3.col-xs-12
          h4
            | Position
          p
            | Place icons before labels in order for users to see them first.
        .col-md-9.col-xs-12
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                ul
                  li
                    strong
                      | Icon with label
                    p
                      figure
                        img.img-responsive(src='/images/icons-ux/horizontal-nav-01.jpg')
                  li
                    strong
                      | Only icon
                    p
                      figure
                        img.img-responsive(src='/images/icons-ux/horizontal-nav-02.jpg')
    hr.transparent
    article
      .row
        .col-md-3.col-xs-12
          p
            | Align the icon vertically with the label heading, instead of centering it with the heading and body.
        .col-md-9.col-xs-12
          .do-dont-container.do-dont-container-full-width
            .col-md-6.col-xs-12.do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | cancel
                  | Do
              .do-dont-content.icons-ux-alignment 
                i.material-icons.md-24
                  | dashboard
                .vertical-content
                  h4
                    | Heading
                  p
                    | Quisque cursus ipsum a magna euismod. vel maximus augue efficitur Mauris finibus erat.

            .col-md-6.col-xs-12.dont-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Don't
              .do-dont-content.icons-ux-alignment 
                i.material-icons.md-24.vertical-align-icon
                  | dashboard
                .vertical-content
                  h4
                    | Heading
                  p
                    | Quisque cursus ipsum a magna euismod. vel maximus augue efficitur Mauris finibus erat.
    hr.transparent
    article
      .row
        .col-md-3.col-xs-12
          h4
            | Spacing
          p
            | Icons should be separated by 8px of space or more to prevent users from activating the wrong icon and invoking the wrong action.
        .col-md-9.col-xs-12
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                p
                  figure.text-center
                    img.img-responsive(src='/images/icons-ux/spacing.jpg')
    hr.transparent
    article
      .row
        .col-md-3.col-xs-12
          h4
            | Tooltip
          p
            | Use a tooltip if an icon has no label and needs some short explanation. For example, toolbar controls and command buttons without labels should have tooltips.
        .col-md-9.col-xs-12
          .do-dont-container.do-dont-container-full-width
            .do-column
              .do-dont-title
                h6
                  i.material-icons.md-18
                    | check_circle
                  | Do
              .do-dont-content
                figure.tooltip-eg
                  img.img-responsive(src='/images/icons-ux/tooltip-eg.jpg')
