extends ../layouts/layout-main

block content
  .container.js-logo-icons-set
    section
      h1
        | Logo icon set
      h4
        | Our set of third-party logos follows the EOS design guidelines and integrate coherently in SUSE applications.
    hr

    section
      .row.logo-icon-set-utility
        .col-md-7.col-xs-12
          p
            | Are you looking for a logo?
          .icons-btn-group
            a.btn.btn-default(href='https://gitlab.com/SUSE-UIUX/eos/issues/new?issue%5Bassignee_id%5D=&issue%5Bmilestone_id%5D=', target='_blank')
              img.material-icons.md-18(src='/images/icons/gitlab.svg')
              | Open an issue in Gitlab
        .col-md-5.col-xs-12.hide
          .icons-search-wrap
            input.js-eos-icon-filter(type='search', name='eos-icon-filter', placeholder='Type to search')
            i.material-icons.md-18
              | search
      .row.eos-icons-notification.js-eos-icons-notification
      .js-logo-icons-list.icons-set-list
        .icon-display.js-logo-icon-display.js-panel-slidein-open
          img.md-48.js-logo-img
          strong.js-logo-name

      // Panel-slidein component to show more information after clicking .js-panel-slidein-open
      .panel-slidein.js-panel-slidein.panel-slidein-right
        .panel-slidein-body
          include ../includes/panel-slidein/logo-icons.pug
        .panel-slidein-close.material-icons.md-18.pull-right.js-panel-slidein-close
          | close
