/* Feedback tool variables
  ========================================================================== */
/* Shared */
$feedback-content-margin-top: 16px;
$feedback-content-font-size: 12px;

$feedback-tool-left: 40%;
$feedback-tool-left-sd: 8%;
$feedback-tool-left-md: 20%;
$feedback-tool-top: 25%;
$feedback-tool-width: 300px;

/* Card */
$feedback-tool-card-header-background: $bc-blue-500;
$feedback-tool-card-header-color: $bc-white;
$feedback-tool-card-header-padding: 16px;
$feedback-tool-card-message-length:  $s + 2;
$feedback-tool-card-message-length-color:  $bc-gray-400;

/* Form */
$feedback-tool-text-area-border-color: $bc-gray-100;
$feedback-tool-text-area-margin-top: $xl;
$feedback-tool-screenshoot-p-margin-left: $s;
$feedback-tool-screenshoot-input-margin: 2px 5px 0 0;
$feedback-tool-attached-screenshoot-background: $bc-blue-400;
$feedback-tool-attached-screenshoot-color: $bc-white;
$feedback-tool-attached-screenshoot-border-radius: 2px;
$feedback-tool-attached-screenshoot-padding: 16px;

/* Success page */
$feedback-tool-success-p-background: #F7F7F7;
$feedback-tool-success-p-padding: 24px;
$feedback-tool-success-img-width: 120px;

/* Button */
$feedback-tool-button-background: $bc-blue-500;
$feedback-tool-button-color: $bc-white;
$feedback-tool-button-size: 32px;
$feedback-tool-button-top: 50%;

