.changelog-toggle-button {
  margin-bottom: $changelog-toggle-button-margin;
}

.changelog {

  .changelog-element {
    border-bottom: $changelog-element-border;
    display: flex;
    flex-direction: column;
    padding: $changelog-element-padding;

    &:last-of-type {
      border-bottom: 0;
    }

    &:first-of-type {
      padding-top: 0;
    }

    .badge {
      border-radius: $changelog-element-badge-border;
    }
  }

  &-new {
    background: $changelog-element-new;
  }

  &-impprovements {
    background: $changelog-element-impprovements;
  }

  &-fixes {
    background: $changelog-element-fixes;
  }

  &-date {
    color: $changelog-element-date;
  }

  ul li {
    padding: 0;
  }

  h5 {
    margin: 0;
  }

  h5 p {
    color: $changelog-element-header-color;
    font-weight: 300;
    margin: 0;
  }
}
