$gradient-wrap-margin: 5% 0;
$gradient-display-percentae-width: 70%;
$gradient-display-percentae-middle-margin: -5px;
$gradient-box-margin: $xs 0;
$gradient-left-right-font-weight: 300;
$gradient-left-right-font-margin: 0 $m;
$gradient-left-right-width: auto;
$gradient-left-right-before-after-height-width: $l;
$gradient-left-right-before-after-margin: 0 $s;
$gradient-container-height: $l;
$gradient-container-margin: $s 0;

/* 500 to 500 */
$gradient-1-1: linear-gradient(to right, $bc-red-500 0%, $bc-orange-500 100%);
$gradient-1-2: linear-gradient(to right, $bc-orange-500 0%, $bc-yellow-500 100%);
$gradient-1-3: linear-gradient(to right, $bc-red-500 0%, $bc-yellow-500 100%);
$gradient-1-4: linear-gradient(to right, $bc-blue-500 0%, $bc-cerulean-500 100%);
$gradient-1-5: linear-gradient(to right, $bc-blue-500 0%, $bc-green-500 100%);
$gradient-1-6: linear-gradient(to right, $bc-green-500 0%, $bc-cerulean-500 100%);
$gradient-1-7: linear-gradient(to right, $bc-violet-500 0%, $bc-cerulean-500 100%);
$gradient-1-8: linear-gradient(to right, $bc-violet-500 0%, $bc-red-500 100%);
/* 100 to 100 */
$gradient-2-1: linear-gradient(to right, $bc-red-100 0%, $bc-orange-100 100%);
$gradient-2-2: linear-gradient(to right, $bc-orange-100 0%, $bc-yellow-100 100%);
$gradient-2-3: linear-gradient(to right, $bc-red-100 0%, $bc-yellow-100 100%);
$gradient-2-4: linear-gradient(to right, $bc-blue-100 0%, $bc-cerulean-100 100%);
$gradient-2-5: linear-gradient(to right, $bc-blue-100 0%, $bc-green-100 100%);
$gradient-2-6: linear-gradient(to right, $bc-green-100 0%, $bc-cerulean-100 100%);
$gradient-2-7: linear-gradient(to right, $bc-violet-100 0%, $bc-cerulean-100 100%);
$gradient-2-8: linear-gradient(to right, $bc-violet-100 0%, $bc-red-100 100%);
/* 500 to 100 */
$gradient-3-1: linear-gradient(to right, $bc-blue-500 0%, $bc-blue-100 100%);
$gradient-3-2: linear-gradient(to right, $bc-green-500 0%, $bc-green-100 100%);
$gradient-3-3: linear-gradient(to right, $bc-cerulean-500 0%, $bc-cerulean-100 100%);
$gradient-3-4: linear-gradient(to right, $bc-violet-500 0%, $bc-violet-100 100%);
$gradient-3-5: linear-gradient(to right, $bc-red-500 0%, $bc-red-100 100%);
$gradient-3-6: linear-gradient(to right, $bc-orange-500 0%, $bc-orange-100 100%);
$gradient-3-7: linear-gradient(to right, $bc-yellow-500 0%, $bc-yellow-100 100%);
$gradient-3-8: linear-gradient(to right, $bc-gray-500 0%, $bc-gray-100 100%);
