/* Cookies-alert component
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$cookies-banner-boxshadow: 0px -3px 6px rgba(6, 6, 6, 0.05);
$cookies-banner-background: $bc-white;

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$cookies-banner-padding: $xxl + 2;
$cookies-banner-width: 100%;
$cookies-banner-zindex: $zindex-modal;
$cookies-banner-fontsize: $s + 4;
$cookies-banner-body-width: 70%;
$cookies-banner-body-width-device: 100%;
$cookies-banner-buttons-padding: $l - 4 0;
$cookies-banner-buttons-width: 30%;
$cookies-banner-buttons-width-device: 100%;
$cookies-banner-button-margin: 0 $xs + 1;
