/* Icons set
   ========================================================================== */
/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$icon-set-height: $xl;
$icon-set-list-margin-top: $xxl;

// Tablet/mobile
$icon-set-icon-set-utility-col-size: $xxl;
$icon-set-icon-set-utility-input-size:  80%;
$icon-set-icon-display-width: 140px;

/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
$icon-set-border: 1px solid $bc-gray-200;

/* Buttons group */
$icons-btn-group-max-height: $xl;
$icons-btn-group-a-margin: $s;
$icons-btn-group-a-image-width: 25px;
$icons-btn-group-a-span-margin: $s;

