/* Icons UX
   ========================================================================== */
/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
$icons-ux-margin-right: $s + 2;
$icons-ux-margin-top: $xs - 2;
$icons-ux-vertical-align-icon: $xl + 5;
