/* Banner alert variables
   ========================================================================== */
/* Colors variables at: /assets/stylesheets/base/variables/branding.scss */
$banneralert-danger-bg: $bc-red-500;
$banneralert-danger-color: $bc-white;
$banneralert-danger-link: $bc-blue-500;

/* Spacing variables: /assets/stylesheets/base/variables/spacings.scss */
/* z-index variables: /assets/stylesheets/base/variables/z-index.scss */
$banneralert-height: 35px;
$banneralert-mm-height: 80px; // same as $mm-height from mobile-menu.scss vars
$banneralert-padding: $s;
$banner-zindex: $zindex-modal-background;
