extends ../layouts/layout-main

block content
  .container
    section
      h1
        | Gradient colors
      h4
        | Whether designing new components and UI elements, or simply re-branding 
        | an application, follow these simple rules to consistently use 
        | and combine the color palettes for text, backgrounds, and links.
    hr 
    .alert.alert-warning
      | Gradients are designed only to be used in marketing purposes.
    h3.margin-top-xxl.title-strong
      | Color combinations 
    p
      | Color combinations are derived from 
      a(href='/colors/')
        | EOS color palette. 
    p.margin-top-xxl
      | Gradients made from color value 500. 
   
    .graidents-wrap
      .gradients-display-percentage
        .percentage-left
          | 500 (opacity 100%)
        .percentage-middle
          | 50%
        .percentage-right
          | 500 (opacity 100%)
      .gradient-box.gradient-1-1
        .left-value
          | #DC3545
        .gradient-container
        .right-value
          | #F75C03
      .gradient-box.gradient-1-2
        .left-value
          | #F75C03
        .gradient-container
        .right-value
          | #FFC107
      .gradient-box.gradient-1-3
        .left-value
          | #DC3545
        .gradient-container
        .right-value
          | #FFC107
      .gradient-box.gradient-1-4
        .left-value
          | #0D2C40
        .gradient-container
        .right-value
          | #00B2E2
      .gradient-box.gradient-1-5
        .left-value
          | #0D2C40
        .gradient-container
        .right-value
          | #00C081
      .gradient-box.gradient-1-6
        .left-value
          | #00C081
        .gradient-container
        .right-value
          | #00B2E2
      .gradient-box.gradient-1-7
        .left-value
          | #841781
        .gradient-container
        .right-value
          | #00B2E2
      .gradient-box.gradient-1-8
        .left-value
          | #841781
        .gradient-container
        .right-value
          | #DC3545
    p
      | Gradients made from color value 100. 

    .graidents-wrap
      .gradients-display-percentage
        .percentage-left
          | 100 (opacity 100%)
        .percentage-middle
          | 50%
        .percentage-right
          | 100 (opacity 100%)
      .gradient-box.gradient-2-1
        .left-value
          | #F5C2C7
        .gradient-container
        .right-value
          | #FDCEB3
      .gradient-box.gradient-2-2
        .left-value
          | #FDCEB3
        .gradient-container
        .right-value
          | #FDCEB3
      .gradient-box.gradient-2-3
        .left-value
          | #F5C2C7
        .gradient-container
        .right-value
          | #FFECB5
      .gradient-box.gradient-2-4
        .left-value
          | #B6C0C6
        .gradient-container
        .right-value
          | #B3E8F6
      .gradient-box.gradient-2-5
        .left-value
          | #B6C0C6
        .gradient-container
        .right-value
          | #E0F7F0
      .gradient-box.gradient-2-6
        .left-value
          | #E0F7F0
        .gradient-container
        .right-value
          | #B3E8F6
      .gradient-box.gradient-2-7
        .left-value
          | #DAB9D9
        .gradient-container
        .right-value
          | #B3E8F6
      .gradient-box.gradient-2-8
        .left-value
          | #DAB9D9
        .gradient-container
        .right-value
          | #F5C2C7
    p
      | Gradients made from color values 500 and 100. 

    .graidents-wrap
      .gradients-display-percentage
        .percentage-left
          | 500 (opacity 100%)
        .percentage-middle
          | 50%
        .percentage-right
          | 100 (opacity 0%)
      .gradient-box.gradient-3-1
        .left-value
          | #0D2C40
        .gradient-container
        .right-value
          | #B6C0C6
      .gradient-box.gradient-3-2
        .left-value
          | #00C081
        .gradient-container
        .right-value
          | #E0F7F0
      .gradient-box.gradient-3-3
        .left-value
          | #00B2E2
        .gradient-container
        .right-value
          | #B3E8F6
      .gradient-box.gradient-3-4
        .left-value
          | #841781
        .gradient-container
        .right-value
          | #DAB9D9
      .gradient-box.gradient-3-5
        .left-value
          | #DC3545
        .gradient-container
        .right-value
          | #F5C2C7
      .gradient-box.gradient-3-6
        .left-value
          | #F75C03
        .gradient-container
        .right-value
          | #FDCEB3
      .gradient-box.gradient-3-7
        .left-value
          | #FFC107
        .gradient-container
        .right-value
          | #FFECB5
      .gradient-box.gradient-3-8
        .left-value
          | #969494
        .gradient-container
        .right-value
          | #E0DFDF
